<!-- Page Content -->
<div class="container">

    <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <!-- Blog Posts -->
        <jhi-front-post></jhi-front-post>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
            <h5 class="card-header" jhiTranslate="sidebar.search"></h5>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
                </div>
            </div>
        </div>

        <!-- Tags Widget -->
        <div class="card my-4">
            <h5 class="card-header" jhiTranslate="sidebar.tags"></h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <li *ngFor="let tag of tags">
                                <a [routerLink]="['../tag', tag.id ]">{{tag.title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
            <h5 class="card-header" jhiTranslate="sidebar.sideWidget.title"></h5>
            <div class="card-body" jhiTranslate="sidebar.sideWidget.message">
            </div>
        </div>

    </div>

</div>

</div>
